include "ADBase.template"

record(waveform, "$(P)$(R)NPYFilePath")
{
	field(DTYP, "asynOctetRead")
	field(INP, "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))ADNPY_FILE_PATH")
	field(FTVL, "CHAR")
	field(NELM, "256")
	field(SCAN, "I/O Intr")
}
